:root {
    --soft-black: #2e2b2b;
    --dark-black: #212121;
    --wheat: #e0d6c4;
    --orange-wheat: #f0ab2a;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Source Code Pro', monospace;
    padding: 0;
    margin: 0;
    max-height: 100%;
    background-color: var(--dark-black);
    color: var(--wheat);
}

.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    background-color: var(--soft-black);
}

.nav-container a, h1 {
    font-size: 1.2em;
    color: var(--wheat);
    padding: .3em;
    text-decoration: none;
    letter-spacing: .2em;
    text-shadow: 3px 3px 3px #5a5959;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex: 1;
    width: 80%;
    margin: .5em auto;
    font-size: .9em;
}

.main-container {
    margin: .5em 0;
    flex: .4;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em;
    background-color: var(--soft-black);
    border-radius: .6em;
    gap: 1em;
}

.form-title, .form-content {
    width: 100%;
    margin: .5em auto;
    padding: .3em;
    background-color: var(--dark-black);
    color: var(--wheat);
}

button {
    background-color: var(--soft-black);
    color: var(--wheat);
    cursor: pointer;
}

.links-table {
    width: 100%;
    margin: 1em auto;
    text-align: center;
}

.links-table tr, .links-table td {
    border: .5px solid var(--dark-black);
    width: 100%;
}

.table-body a {
    color: var(--orange-wheat);
    text-decoration: none;
}

.table-body button {
    margin: .4em;
}

.table-body {
    width: 60%;
}

.table-container {
    background-color: var(--soft-black);
    margin: .5em 0;
    border-radius: .6em;
    flex: .4;
}

footer {
    background-color: var(--soft-black);
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer a {
    text-decoration: none;
    color: #ada7a7;
}

footer p {
    color: var(--wheat);
    margin: 0;
    padding: .5em;
}

@media screen and ( max-width: 700px ) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    .main-container, .table-container {
        display: flex;
        justify-content: center;
        width: 100%;
    } 
}