* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    max-width: 100%;
    height: auto;
    background-color: #212121;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    padding: .5em;
    background-color: #2e2b2b;
}

.nav-container a {
    color: #ebe0d3;
    padding: .3em;
    text-decoration: none;
    letter-spacing: .2em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    /* width: 80%; */
    margin: 0 auto;
    font-size: 1.1em;
}

.main-container {
    margin: .5em auto;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1em;
    background-color: #212120;
    color: #ebe0d3;
}

.form-title, .form-content, .form-btn, label {
    width: 100%;
    margin: .3em auto;
}

.links-table, th {
    margin: 1em auto;
    padding: 0 1em;
}

table {
    text-align: center;
    color: #ebe0d3;
}

.table-body a {
    text-decoration: none;
}

.table-container {
    background-color: #2e2e2e;
    margin: .5em auto;
    border-radius: .6em;
}

@media screen and ( max-width: 500px ) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .main-container {
        width: 80%;
    }
}